:root {
  --primary-color: #2c2c54;
  --secondary-color: #8ea8c3;
  --success-color: #caffd0;
  --light-color: #e7ebc5;
  --dark-color: #60492c;
}

:root{
  --primary: var(--primary-color);
  --secondary: var(--secondary-color);
  --success: var(--success-color);
  --info: var(--light-color);
  --warning: var(--dark-color);
  --danger: var(--dark-color);
  --light: var(--light-color);
  --dark: var(--dark-color);
}